.full-corpse{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 5rem 0 0;
    color: $color-text-white;

    h1{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    p{
        text-align: justify;
    }
}

form{
    text-align: center;
    margin-top: 2rem !important;

    @include respond-to('lap'){
        margin-top: 0 !important;
    }

    input{
        width: 100%;
        max-width: 800px;
        background-color: transparent;
        border-bottom: 2px solid $color-brand-secondary;
        color: $color-text-white;

        &:hover,
        &:focus{
            background-color: transparent;
        }
    }

    button{
        margin-left: 2rem;
        border-radius: 2em;
    }
}

.widget{
    @include justify-content(flex-start !important);
}

p.first{
    font-size: 1.5em;
}
