body{
    width: 100vw;
    min-height: 100vh;
    background-color: $color-brand-bkg;
    background: url('../img/bkg-blur.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.corpses-previews{
    width: 100vw;
    overflow-x: hidden;
    //background-color: rgba(0, 0, 0, 0.54);
    padding-bottom: 0;
    height: 100vh;

    .previews-wrapper{
        width: auto;
        overflow-x: scroll;
        position: relative;

        .preview{
            @include transition($global-animation);
            padding: 2rem 1rem;
            text-align: center;
            color: $color-text-white;
            flex-basis: 27vw;
            min-width: 27vw;

            &:hover{
                background-color: rgba($color-ui-white, 0.06);
            }

            &.active{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-bottom: 0;
            }

            h1{
                text-transform: uppercase;
                letter-spacing: 3px
            }

            .preview-actions button{
                background-color: transparent;
                border: 1px solid $color-ui-white;
                border-radius: 20em;
                font-size: 0.875em;
                color: $color-text-white;
                margin: 0.5rem 1rem;
                background-color: $color-ui-white;
                color: $color-brand-primary;
            }
        }

        @include respond-to('lap'){
            display: flex;
            @include justify-content(flex-start);
            @include flex-wrap(nowrap);
            padding-bottom: 0;
            height: 100vh;

            .preview{
                height: 100vh;
                padding-top: 20%;
            }
        }
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: $color-text-white;
}

.app-info{

    .app-logo{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .app-description{
        color: $color-text-white-lightest;
        margin-bottom: 1rem;
        max-width: 300px;
    }

    .app-info__actions{
        text-align: center;

        button{
            display: block;
            margin: 0 auto;
        }
    }

    @include respond-to('lap'){
        .app-logo{
            margin-bottom: 0 !important;
            display: inline-block;
            margin-right: 2rem;
            vertical-align: middle;
        }
        .app-description{
            margin-bottom: 0 !important;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.modal-wrapper{
    @include transition($global-animation);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 10;
    opacity: 0;
    visibility: hidden;

    &.is-toggled{
        opacity: 1;
        visibility: visible;
    }

    .modal{
        width: 90%;
        max-width: 500px;
        background-color: $color-ui-white;
        border-radius: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        padding: 2rem;
        text-align: center;

        input{
            display: block;
            border: none;
            border-bottom: 2px solid $color-brand-secondary;
            margin: 0 auto 1.5rem;
            max-width: 400px;
        }

        .flex{
            width: 100%;
        }
        button{
            border-radius: 2em;
            margin: 0 !important;

            &[type="submit"]{
                margin-left: 2rem !important;
                background-color: $color-brand-secondary;
                color: $color-text-white;
            }
        }
    }
}
