<div class="full-corpse">
    <h1>{{_title}}</h1>
    <p>{{last}}</p>
</div>
<footer>
	<div class="app-info widget flex -justify-around -align-items-center">
		<div class="flex__item -tab2">
			<a href="" class="app-logo">Corpse</a>
		</div>
		<form method="post" class="flex__item -tab10 flex -nowrap new-fragment">
			<input type="text" name="add" placeholder="Type your continuation of the corpse">
			<input type="hidden" value="{{id}}">
			<button type="submit" class="btn -bkg-secondary h-txt-bold">Send</button>
		</form>
	</div>
</footer>
