<div class="full-corpse">
    <h1>{{_title}}</h1>
    <p class="first">{{first}}</p>
    {{_content}}
</div>
<footer>
	<div class="app-info flex -justify-start -align-items-center">
		<div class="flex__item -tab10">
			<a href="" class="app-logo">Corpse</a>
			<p class="app-description">Corpse is a new way to create stories based on an old game</p>
		</div>
		<div class="app-info__actions flex__item -tab2">
			<button class="btn -rounded -bkg-primary js-toggle" data-toggle="new-corpse">Create corpse</button>
		</div>
	</div>
</footer>
