<div class="corpses-previews">
	<ul class="previews-wrapper list -type-none">
		<li class="preview">
			<h1 class="header -h5">Corpse title</h1>
			<div class="preview-actions">
				<button class="js-trigger" data-trigger="full-corpse">View Full</button>
				<button class="js-trigger" data-trigger="fragment">Participate</button>
			</div>
		</li>
	</ul>
</div>
<footer>
	<div class="app-info flex -justify-start -align-items-center">
		<div class="flex__item -tab10">
			<a href="" class="app-logo">Corpse</a>
			<p class="app-description">Corpse is a new way to create stories based on an old game</p>
		</div>
		<div class="app-info__actions flex__item -tab2">
			<button class="btn -rounded -bkg-primary js-toggle" data-toggle="new-corpse">Create corpse</button>
		</div>
	</div>
</footer>
