<div class="modal-wrapper new-corpse">
	<div class="modal">
		<form method="post" class="new-corpse">
			<p>To create your corpse you need to give it a name and an initial phrase:</p>
			<input type="text" name="title" placeholder="Title" required="true"/>
			<input type="text" name="initial" placeholder="Initial phrase" required="true"/>
			<div class="flex -justify-center">
				<button class="js-toggle" data-toggle="new-corpse">Cancel</button>
				<button type="submit">Create</button>
			</div>
		</form>
	</div>
</div>
<div class="corpses-previews">
	<ul class="previews-wrapper list -type-none">
		{{repeat corpsePreview corpses}}
	</ul>
</div>
<footer>
	<div class="app-info flex -justify-start -align-items-center">
		<div class="flex__item -tab10">
			<a href="" class="app-logo">Corpse</a>
			<p class="app-description">Corpse is a new way to create stories based on an old game</p>
		</div>
		<div class="app-info__actions flex__item -tab2">
			<button class="btn -rounded -bkg-primary js-toggle" data-toggle="new-corpse">Create corpse</button>
		</div>
	</div>
</footer>
